<ion-header>
  <ion-toolbar>
    <ion-title>Cargas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list class="ios list-ios hydrated">

    <ion-item *ngFor="let carga of Cargas" class="user-list">
      <ion-label>
        <h5>
          <ion-icon name="logo-dropbox"></ion-icon> {{carga.nome}}
        </h5>
        <p>
          <ion-icon name="call"></ion-icon> {{carga.peso}}
        </p>
      </ion-label>

      <div class="item-note" item-end>
        <button ion-button clear [routerLink]="['/carga-edit/']">
          <ion-icon name="create" style="zoom:2.0"></ion-icon>
        </button>
        <button ion-button clear (click)="deleteCarga(carga.$key)">
          <ion-icon name="trash" style="zoom:2.0"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>

</ion-content>
